#authBtn span {
    font-size: medium;
    margin-left: .5em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#authBtn {
    padding: 1em;
}

#authBtn:hover {
    background-color: rgb(76, 99, 117);
}

#authBtn a {
    color: white;
}

#logoutBtn {
    cursor: pointer;
}