#productsContainer form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid rgba(185, 190, 195, 0.5);
    border-top: 1px solid rgba(185, 190, 195, 0.5);
    padding-bottom: 1em;
    padding-top: 1em;
    margin-bottom: 1em;
}

.productItem {
    display: flex;
}